# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# "temporary" build files
/target

.hero
.claude
.gitattributes
.github
.mcp.json
AGENTS.md
CLAUDE.md

build/
.gradle
.DS_Store
.idea/
.sdkmanrc
lib/